---
layout: 'base.njk'
---



<div class="container">
  <main>
    <div class="content">
      <h5>STREET ART</h5>
      <h1>{{ title }}</h1>
      <div class="paragraphs">
      {{ content | safe }}

      {# <p>
        Color (American English), or colour (Commonwealth English), is the
        characteristic of human visual perception described through color
        categories, with names such as red, orange, yellow, green, blue, or
        purple.
      </p>
      <p>
        This perception of color derives from the stimulation of cone cells
        in the human eye by electromagnetic radiation in the visible
        spectrum. Color categories and physical specifications of color are
        associated with objects through the wavelength of the light that is
        reflected from them. This reflection is governed by the object's
        physical properties such as light absorption, emission spectra, etc.
      </p>
      <p>Very colorful.</p> #}
    </div>

    {# </div>
    <div class="imageHolder">
      <img src="img/bd6c0bef4a473bfca44d1f6c83c950.png" alt="" />
      <img src="" alt="" />
    </div> #}
  </main>
</div>


 
